<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="/icons/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, officiis!
      Architecto cumque doloribus omnis. Delectus voluptatum dicta tenetur
      beatae eaque necessitatibus sed voluptatem nisi enim qui recusandae,
      veniam molestiae quae totam esse corrupti rerum maiores in quia numquam
      itaque nihil. Quam quas assumenda incidunt perferendis voluptas natus
      vitae delectus, consequuntur neque ut. Reiciendis, commodi culpa et iusto
      enim expedita reprehenderit.
    </p>
  </div>
</div>
