<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nostrum non
    veritatis. Numquam in maiores qui ad molestiae? Possimus porro quam quae
    nesciunt asperiores, dignissimos animi sint voluptatum repudiandae sapiente
    ipsa optio vel magni id. Dolore quod blanditiis hic dicta rem eligendi
    veniam unde, dolorum, at delectus laudantium porro perferendis soluta earum
    incidunt esse tempora doloremque possimus autem harum quasi illum ex? Quia
    aperiam quod officia corrupti veritatis sint dolorum?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="/icons/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Kavinkumar R</h3>
        <p class="quote__organization">Wipro Limitted</p>
      </div>
    </div>
  </footer>
</blockquote>
